* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  overflow-block: hidden;
}

/* Navbar */
nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  height: 50px;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: "Pacifico", cursive;
  /* Hamburger Menu */
  /* Hamburger Animation */
}
nav nav .logo {
  letter-spacing: 3px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1em;
  font-family: "PT Sans", sans-serif;
}
nav ul li a:hover {
  color: #00D1FF;
  text-decoration: underline;
}
nav .btn-nav {
  background-color: #45818E;
  padding: 5px 20px;
  border-radius: 11px;
  border: 1px solid #45818E;
  display: flex;
}
nav .btn-nav:hover {
  background-color: #00D1FF;
}
nav .btn-nav a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: "PT Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
nav .menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
nav .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
}
nav .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  transition: all 0.5s;
}
nav .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
nav .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
nav .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: rgb(0, 0, 0);
}
nav .menu-toggle input:checked ~ span:nth-child(3) {
  display: none;
}
nav .menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: rgb(0, 0, 0);
}

.head-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#FEFEFE, #95F5F0);
  height: 30%;
  width: 100%;
}
.head-section h1 {
  text-align: center;
  margin: 60px 0;
  font-family: "Ubuntu", sans-serif;
}
.head-section img {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

.body-section {
  position: relative;
  height: 45vh;
  width: 60%;
  background-color: #45818E;
  margin: -30px auto 180px auto;
  text-align: center;
  border-radius: 11px;
}
.body-section p {
  padding: 50px 10px;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: #FEFEFE;
}
.body-section h2 {
  font-family: "Ubuntu", sans-serif;
  color: #FEFEFE;
  padding-top: 15px;
  font-size: 24px;
  margin-bottom: 20px;
}
.body-section a {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.project-section .project {
  display: block;
  margin: 0 auto;
  width: 70%;
  border: 1px solid #FEFEFE;
  border-radius: 10px;
  box-shadow: #000000 0px 5px 15px;
  padding: 30px 0;
}
.project-section .project h3 {
  font-size: 35px;
  margin-top: -57px;
  margin-bottom: 50px;
  text-align: left;
}
.project-section .project h4 {
  margin-top: 50px;
  margin-left: 10%;
  margin-bottom: 30px;
}
.project-section .project img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 30px;
}
.project-section .project a {
  margin-left: 20%;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}

footer {
  margin-top: 100px;
}
footer .footer-contact {
  background-color: #45818E;
  margin-top: -50px;
  text-align: center;
  color: white;
  padding: 30px;
}
footer .footer-item {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
footer .footer-detail {
  display: grid;
}
footer .footer-detail h4 {
  font-size: 24px;
  margin-bottom: 2px;
}
footer .footer-detail a {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #FEFEFE;
}
footer .footer-detail a:hover {
  text-decoration: underline;
  color: #00D1FF;
}
footer .footer-btn .btn-nav {
  margin-top: 45px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 11px;
  border: 1px solid #45818E;
  display: block;
}
footer .footer-btn .btn-nav:hover {
  background-color: #00D1FF;
}
footer .footer-btn .btn-nav a {
  text-decoration: none;
  font-size: 1.5em;
  font-family: "PT Sans", sans-serif;
  color: rgb(131, 131, 131);
  font-weight: bold;
}

.portfolio-section {
  margin: 60px auto;
}
.portfolio-section .gallery {
  display: grid;
  width: 50%;
  border: 1px solid #fff;
  box-shadow: #000000 0px 5px 15px;
  border-radius: 15px;
  padding: 30px;
  margin: 30px auto;
}
.portfolio-section .gallery a {
  margin-top: -45px;
  margin-bottom: 50px;
  font-size: 1.5em;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.portfolio-section .gallery .gallery-img {
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
}
.portfolio-section .gallery .gallery-flex {
  display: flex;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 30px;
}
.portfolio-section .gallery .gallery-flex .gallery-item {
  margin: 0 auto;
  width: 50%;
}
.portfolio-section .gallery .gallery-flex-2 {
  display: flex;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 30px;
}
.portfolio-section .gallery .gallery-flex-2 .gallery-item {
  margin: 0 auto;
  width: 35%;
}
.portfolio-section .gallery .span-item {
  display: flex;
  justify-content: space-evenly;
}
.portfolio-section .gallery .span-item a {
  font-size: 14px;
  text-decoration: none;
  font-style: italic;
  color: #000;
  font-weight: 700;
}
.portfolio-section .gallery .span-item .group {
  display: flex;
}
.portfolio-section .gallery .span-item .group .items-1 {
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #fbff07;
  border-radius: 100%;
}
.portfolio-section .gallery .span-item .group .items-2 {
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #07c3e4;
  border-radius: 100%;
}
.portfolio-section .gallery .span-item .group .items-3 {
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #4909df;
  border-radius: 100%;
}
.portfolio-section .gallery .span-item .group .items-4 {
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #05f511;
  border-radius: 100%;
}
.portfolio-section .gallery .span-item .group .items-5 {
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #ffae00;
  border-radius: 100%;
}
.portfolio-section .gallery .span-item .group .items-6 {
  margin-top: 3px;
  width: 10px;
  height: 10px;
  background-color: #97eff5;
  border-radius: 100%;
}
.portfolio-section .gallery .span-item .group p {
  font-size: 12px;
  margin-left: 3px;
  font-style: italic;
}

/* Responsive */
@media screen and (max-width: 768px) {
  ul {
    width: 60%;
  }
  .body-section p {
    font-size: 14px;
  }
  .body-section h2 {
    font-size: 20px;
    margin-top: -15px;
  }
}
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  nav .menu-toggle {
    display: flex;
  }
  nav ul {
    margin-top: 51px;
    position: absolute;
    right: 0;
    width: 80%;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    top: 0;
    align-items: center;
    transform: translateX(100%);
    transition: all 1s;
  }
  nav .slide {
    transform: translateX(0);
  }
  .body-section p {
    font-size: 12px;
  }
  .body-section h2 {
    font-size: 20px;
    margin-top: -15px;
  }
  footer .footer-item {
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer-item .footer-detail {
    width: 50%;
  }
  footer .footer-item .footer-btn {
    display: grid;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */